
{% extends 'app/index.html' %}
{% load static %}

{% block other_head %}
  <link href="{% static 'app/chosen/component-chosen.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<p></p> 
  <div class="col-xs-12 col-md-6 mb-5">
    <label>Filtro Múltiple {{ tipo }}:</label>
    <select id="multiple" class="form-control form-control-chosen" data-placeholder="Seleccione uno o más..." multiple>

      {% for item in list_item %}
           <option>{{ item }}</option>
      {% endfor %}
    </select>
  </div>

  <a id="submit-b" class="btn btn-primary" href="#" role="button">Filtrar</a>

<div id="graph-food">
 {% include type_graph %}
</div>
  
{% endblock %}

{% block other_javascript %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>  
  <script type="text/javascript">
    $('.form-control-chosen').chosen({
	allow_single_deselect: true,
	width: '100%'
    });
    $('.form-control-chosen-required').chosen({
	allow_single_deselect: false,
	width: '100%'
    });
    $('.form-control-chosen-search-threshold-100').chosen({
	allow_single_deselect: true,
	disable_search_threshold: 100,
	width: '100%'
    });
    $('.form-control-chosen-optgroup').chosen({
	width: '100%'
    });

    $(function() {
	$('[title="clickable_optgroup"]').addClass('chosen-container-optgroup-clickable');
    });
    $(document).on('click', '[title="clickable_optgroup"] .group-result', function() {
	var unselected = $(this).nextUntil('.group-result').not('.result-selected');
	if(unselected.length) {
	    unselected.trigger('mouseup');
	} else {
	    $(this).nextUntil('.group-result').each(function() {
		$('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
	    });
	}
    });
    $('#is_valid_chosen').addClass('is-valid');
    $('#is_invalid_chosen').addClass('is-invalid');
  </script>


  <script>
    $("#submit-b").on("click", function(){
	let multiple = $("#multiple").val();
	console.log(multiple);
	text = "";
	multiple.forEach(get_item);
	console.log(text);
	text = text.slice(0, -1);

	jQuery.get("foodgroup",
		   {values: text,
		    type: "{{ get_param }}"},
		   
		   function(data){
		       var doc = $(data);
		       var content = doc.find("#graph-food")
		       $("#graph-food").empty();
		       $("#graph-food").html(content);
		   });

	function get_item(item){
	    text = text + item + ",";
	}
    })
  </script>
 
{% endblock %}
