<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% block other_head %}{% endblock %}
</head>
<div class="container-fluid">

    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Visualización de Datos - PEC2
        </a>     
    </nav>

    <div class="page-header">
        <h2>Visualización de Datos SARS-CoV2 o COVID-19 en relación al tipo de Alimentación</h2>
        <h6>Por: Fabio Durán-Verdugo</h6>
      </div>

      <div class="alert alert-info" role="alert">
        <strong>Seleccione</strong> un tipo de Visualización.
    </div>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tipo Mapa            <p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:global-map' %}?type=Obesity">Obesidad
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="radio"  value="{% url 'app:global-map' %}?type=Undernourished">Desnutrición
                </label>
              </div>
        
        </li>

        <li class="list-group-item">Tipo Barplot - Grupo de alimento<p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=USDA-continent">Continente
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=USDA-country">País
                </label>
              </div>
        
        </li>

        <li class="list-group-item">Tipo Sunburst - Relación Alcohol<p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=alcohol">Alcohol
                </label>
              </div>
        
        </li>
      </ul>


    {% block content %}
    <p></p>
<div class="card">
  <h3 class="card-header">Introducción</h3>
  <div class="card-body">
    <p class="text-justify">
      El siguiente trabajo muestra la visualización de datos de diferentes tipos de
alimentos en su consumo y además de la tasa de obesidad y desnutrición
de la población mundial. Incluye un recuento de casos de SARS-CoV2 o
      COVID-19 para muchos lugares del mundo.
    </p>
    <p class="text-justify">
      El Centro de Política y Promoción de la Nutrición del USDA recomienda
una pauta de ingesta de dieta diaria muy simple: 30 % de granos, 40 % de
verduras, 10 % de frutas y 20 % de proteína y que el autor de este conjun-
to de datos, Maria Ren (https://www.kaggle.com/mariaren), dada esta pauta se realiza la pregunta ¿estamos
realmente comiendo en el estilo de alimentación saludable recomendado por
estas divisiones de alimentos y saldos?
    </p>
    <p class="text-justify">
De cierto modo es posible apreciar ciertas tendencias a responder esta pre-
gunta que apunta a un estilo de alimentación saludable, pero en conjunto
se han incluido de cifras de contagios confirmados, recuperados, muertos y
activos de SARS-CoV2 (coronavirus), por lo hace suponer una nueva arista
que aportaría desde otro tipo de ciencia a combatir el virus.
Otro beneficio visual es que es factible poder captar y comparar a través de
gráficos son los estilos de alimentación o dietas que llevan los distintos países,
incluyendo también a los continentes en donde se encuentran ubicados.
    </p>

    <p class="text-justify">
El dataset trabajado se encuentra en la siguiente url: https://www.kaggle.
com/mariaren/covid19-healthy-diet-dataset?select=Food_Supply_kcal_
Data.csv, datasets licenciados con creative common by-sa 2 , y representa a
los porcentajes de ingesta energética (kcal) de diferentes tipos de alimentos
en países de todo el mundo. El último par de columnas también incluye
recuentos de casos de obesidad, desnutrición y COVID-19 como porcentajes
de la población total para fines de comparación.
    </p>
  </div>
</div>
<p></p>

      <div class="alert alert-info" role="alert">
        <strong>Seleccione</strong> un tipo de Visualización.
    </div>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tipo Mapa            <p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:global-map' %}?type=Obesity">Obesidad
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="radio"  value="{% url 'app:global-map' %}?type=Undernourished">Desnutrición
                </label>
              </div>
        
        </li>

        <li class="list-group-item">Tipo Barplot - Grupo de alimento<p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=USDA-continent">Continente
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=USDA-country">País
                </label>
              </div>
        
        </li>

        <li class="list-group-item">Tipo Sunburst - Relación Alcohol<p></p>      
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="radio"  value="{% url 'app:food-group' %}?type=alcohol">Alcohol
                </label>
              </div>
        
        </li>
      </ul>



    {% endblock %}

    

</div>


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('input[type=radio][name=radio]').change(function() {

        window.location.href = this.value
        
    });
  </script>
  {% endblock %}

  {% block other_javascript %}{% endblock %}
